body {
  zoom: 0.72;
}
.base2,
.bg-pic-icon4 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.base2 {
  top: 0;
  background-color: var(--color-white);
  height: 1080px;
}
.bg-pic-icon4 {
  top: -50px;
  height: 1440px;
  object-fit: cover;
}
.forgot-pass1-child {
  position: absolute;
  top: 152px;
  left: 274px;
  background-color: var(--color-white);
  box-shadow: 0 4px 100px #141414;
  width: 1372px;
  height: 776px;
}
.logo-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 86px;
  height: 86px;
  object-fit: cover;
}
.pup-clinic-appointment2,
.sta-mesa-manila2 {
  position: absolute;
  top: 14px;
  left: 110px;
  display: inline-block;
  width: 520px;
  height: 50px;
}
.sta-mesa-manila2 {
  top: 50px;
  font-size: var(--font-size-mini);
  font-family: var(--font-karla);
  color: var(--color-gray-200);
  width: 200px;
  height: 20px;
}
.logo-container {
  position: absolute;
  top: 224px;
  left: 389px;
  width: 630px;
  height: 86px;
  text-align: left;
}
.forgot-pass1-item {
  position: absolute;
  top: 152px;
  left: 960px;
  background-color: var(--color-maroon-200);
  width: 686px;
  height: 776px;
}
.forgot-your-password2 {
  position: absolute;
  top: 402px;
  left: 338px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 432px;
  height: 49px;
}
.icons-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.email-item {
  position: absolute;
  top: 47.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 524px;
  height: 1px;
}
.enter-your-registered {
  border: 0;
  outline: 0;
  font-family: var(--font-kanit);
  font-size: var(--font-size-3xl);
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 64px;
  color: black;
  text-align: left;
  display: flex;
  align-items: center;
  width: 400px;
  height: 25px;
}
.email1 {
  position: absolute;
  top: 531px;
  left: 352px;
  width: 523px;
  height: 48px;
}
.forgot-pass1-inner {
  position: absolute;
  top: 452.5px;
  left: 350.5px;
  border-top: 3px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 46px;
  height: 3px;
}
/* .rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-deepskyblue);
  position: absolute;
  top: 648px;
  left: 352px;
  border-radius: var(--br-6xs);
  width: 523px;
  height: 60px;
}
.proceed {
  position: absolute;
  top: 665px;
  left: 551px;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 25px;
} */
.group-child {
  /* position: absolute;
  left: 0; */
  top: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-deepskyblue);
  width: 523px;
  height: 60px;
}
.proceed {
  position: absolute;
  top: 17px;
  left: 199px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-kanit);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 25px;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 648px;
  left: 352px;
  width: 523px;
  height: 60px;
}
.bg-pic-icon5 {
  position: absolute;
  top: 152px;
  left: 960px;
  width: 686px;
  height: 776px;
  object-fit: cover;
}
.forgot-pass1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-maroon-100);
  font-family: var(--font-kanit);
}
