body {
  zoom: 0.75;
}

.base,
.bg-pic-icon {
  position: absolute;
  left: 0;
  width: 1920px;
}
.base {
  top: 0;
  background-color: var(--color-white);
  height: 1080px;
}
.bg-pic-icon {
  top: -50px;
  height: 1440px;
  object-fit: cover;
}
.login-child {
  position: absolute;
  top: 152px;
  left: 274px;
  background-color: var(--color-white);
  box-shadow: 0 4px 100px #141414;
  width: 1372px;
  height: 776px;
}
.logo-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 86px;
  height: 86px;
  object-fit: cover;
}
.pup-clinic-appointment,
.sta-mesa-manila {
  position: absolute;
  top: 14px;
  left: 110px;
  display: inline-block;
  width: 520px;
  height: 50px;
}
.sta-mesa-manila {
  top: 50px;
  font-size: var(--font-size-mini);
  font-family: var(--font-karla);
  color: var(--color-gray-200);
  width: 200px;
  height: 20px;
}
.logo-parent {
  position: absolute;
  top: 224px;
  left: 389px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 630px;
  height: 86px;
}
.login-item {
  position: absolute;
  top: 152px;
  left: 960px;
  background-color: rgba(118, 0, 1, 0.5);
  width: 686px;
  height: 776px;
}
.login1 {
  position: absolute;
  top: 363px;
  left: 338px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 49px;
}
.icons-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.email-child {
  position: absolute;
  top: 47.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 524px;
  height: 1px;
}
.enter-your-email {
  border: 0;
  outline: 0;
  font-family: var(--font-kanit);
  font-size: var(--font-size-3xl);
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 64px;
  color: black;
  text-align: left;
  display: flex;
  align-items: center;
  width: 400px;
  height: 25px;
}
.email,
.password-child {
  position: absolute;
  top: 461px;
  left: 352px;
  width: 523px;
  height: 48px;
}
.password-child {
  top: 49.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 524px;
  height: 1px;
}
.enter-your-password {
  border: 0;
  outline: 0;
  font-family: var(--font-kanit);
  font-size: var(--font-size-3xl);
  background-color: transparent;
  position: absolute;
  top: 8px;
  left: 64px;
  color: black;
  text-align: left;
  display: flex;
  align-items: center;
  width: 300px;
  height: 27px;
}
.icons-1-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.forgot-password,
.password {
  position: absolute;
  top: 529px;
  left: 352px;
  width: 523px;
  height: 50px;
}
.forgot-password {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 597px;
  font-size: var(--font-size-3xl);
  font-family: var(--font-kanit);
  color: var(--color-deepskyblue);
  text-align: left;
  display: flex;
  align-items: center;
  width: 197px;
  height: 25px;
}
.login-inner {
  position: absolute;
  top: 413.5px;
  left: 350.5px;
  border-top: 3px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 46px;
  height: 3px;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-deepskyblue);
  position: absolute;
  top: 700px;
  left: 352px;
  border-radius: var(--br-6xs);
  width: 523px;
  height: 60px;
}
.login2 {
  position: absolute;
  top: 717px;
  left: 551px;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 25px;
}
.bg-pic-icon1 {
  position: absolute;
  top: 152px;
  left: 960px;
  width: 686px;
  height: 776px;
  object-fit: cover;
}
.dont-have-an {
  position: absolute;
  top: 788px;
  left: 411px;
  font-size: var(--font-size-3xl);
  color: var(--color-darkgray);
  display: flex;
  align-items: center;
  width: 260px;
  height: 25px;
}
.login,
.register-here {
  text-align: left;
  font-family: var(--font-kanit);
}
.register-here {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 788px;
  left: 659px;
  font-size: var(--font-size-3xl);
  color: var(--color-deepskyblue);
  display: flex;
  align-items: center;
  width: 197px;
  height: 25px;
}
.login {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-maroon-100);
}

.password-toggle {
  color: lightblue;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
