body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-kanit: Kanit;
  --font-karla: Karla;
  --font-questrial: Questrial;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-3xl: 22px;
  --font-size-11xl: 30px;
  --font-size-base: 16px;
  --font-size-smi: 13px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-9xl: 28px;

  /* Colors */
  --color-white: #fff;
  --color-gray-200: #24282e;
  --color-gray-100: #141414;
  --color-gray-300: #050505;
  --color-darkgray: #aaa;
  --color-deepskyblue: #47a8df;
  --color-maroon: #760001;
  --color-dimgray: #5d5858;
  --color-black: #000;
  --color-whitesmoke: #eaeaea;
  --color-tomato: rgb(173, 216, 230);

  /* Border radiuses */
  --br-6xs: 7px;
}
