body {
  zoom: 0.71;
}
.base,
.sidebar {
  position: absolute;
}
.base {
  top: 0;
  left: 355px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 100px rgba(20, 20, 20, 0.5);
  width: 1920px;
  height: 1080px;
}
.sidebar {
  top: 3px;
  left: 3px;
  background: linear-gradient(
    180deg,
    rgba(152, 152, 152, 0.16) 30.5%,
    rgba(239, 11, 11, 0.3)
  );
  width: 355px;
  height: 1039px;
}
.bg-pic-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 360.7px;
  height: 1080px;
  object-fit: cover;
}
.dashboard1 {
  top: 0;
  left: 37px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-karla);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 180px;
}
.dashboard,
.dashboard-icon,
.dashboard1 {
  position: absolute;
  height: 26px;
}
.dashboard-icon {
  top: 0;
  left: 0;
  width: 26px;
  object-fit: contain;
}
.dashboard {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 247px;
  left: 35px;
  width: 217px;
}
.appointments-icon {
  position: absolute;
  top: 1px;
  left: 0;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.appointments {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 297px;
  left: 35px;
  width: 217px;
  height: 26px;
}
.transactions1 {
  position: absolute;
  top: 0;
  left: 40px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-karla);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 180px;
  height: 26px;
}
.transactions-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 29px;
  height: 29px;
  object-fit: cover;
}
.transactions {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 397px;
  left: 32px;
  width: 220px;
  height: 29px;
}
.book-an-appointment {
  position: absolute;
  top: 0;
  left: 39px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-karla);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 250px;
  height: 26px;
}
.patient-icon {
  position: absolute;
  top: 1px;
  left: 0;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.patients {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 348px;
  left: 33px;
  width: 289px;
  height: 29px;
}
.logo-icon,
.sidebar-container {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 360.7px;
  height: 1080px;
}
.logo-icon {
  top: 0;
  left: 0;
  width: 58.3px;
  height: 58.3px;
  object-fit: cover;
}
.pup-clinic-appointment,
.sta-mesa-manila {
  position: absolute;
  top: 8.5px;
  left: 74.6px;
  display: inline-block;
  width: 352.4px;
  height: 33.9px;
}
.sta-mesa-manila {
  top: 34.9px;
  font-size: var(--font-size-smi);
  font-family: var(--font-karla);
  color: var(--color-gray-300);
  width: 135.6px;
  height: 13.6px;
}
.header {
  position: absolute;
  top: 21px;
  left: 22px;
  width: 427px;
  height: 58.3px;
  color: var(--color-maroon);
}
.personnel-dashboard {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 301px;
  height: 49px;
}
.patient-dashboard-title-child {
  position: absolute;
  top: 54.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 46px;
  height: 3px;
}
.patient-dashboard-title {
  position: absolute;
  top: 140px;
  left: 29px;
  width: 301px;
  height: 56px;
  font-size: var(--font-size-11xl);
}
.personnel-dashboard-appointmen-child {
  position: absolute;
  top: 106.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 356px;
  height: 1px;
}
.base-main,
.base-main-header {
  position: absolute;
  top: 0;
  left: 355px;
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 1565px;
  height: 76px;
}
.base-main {
  top: 108px;
  width: 1566px;
  height: 1297px;
}
.welcome-fn-mi {
  border: 0;
  outline: 0;
  font-family: var(--font-kanit);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: 13px;
  left: 383px;
  color: var(--color-gray-200);
  text-align: left;
  display: flex;
  align-items: center;
  width: 500px;
  height: 49px;
}
.footer-child {
  position: absolute;
  top: 2.2px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1932px;
  height: 77.7px;
}
.bsit-3-2n-group {
  position: absolute;
  top: 19.4px;
  left: 32.2px;
  display: flex;
  align-items: center;
  width: 588.7px;
  height: 43.2px;
}
.contact-us-at,
.footer {
  position: absolute;
  height: 82px;
}
.contact-us-at {
  top: 0;
  left: 1365.2px;
  text-align: right;
  display: flex;
  align-items: center;
  width: 891.5px;
}
.footer {
  top: 1002px;
  left: -3px;
  width: 1932px;
  color: var(--color-white);
  font-family: var(--font-questrial);
}
.logout-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-maroon);
  box-sizing: border-box;
  width: 75px;
  height: 45px;
}
.logout1 {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: var(--font-size-base);
  font-family: var(--font-karla);
  color: var(--color-maroon);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 27px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logout {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 13px;
  left: 1812px;
  width: 75px;
  height: 45px;
}
.appointments2 {
  position: absolute;
  top: 0;
  left: 27px;
  display: flex;
  align-items: center;
  width: 301px;
  height: 49px;
}
.header-child {
  position: absolute;
  top: 57.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 1568px;
  height: 3px;
}
.header1 {
  position: absolute;
  top: 115px;
  left: 355px;
  width: 1565px;
  height: 59px;
  font-size: var(--font-size-11xl);
}
.appointments3 {
  position: relative;
  align-items: center;
}
.appointments3,
.appointments3:hover {
  font-family: var(--font-kanit);
  font-size: 24px;
  text-align: left;
  color: var(--color-gray-100);
  display: flex;
  width: 240px;
  height: 49px;
}
.th {
  position: relative;
  padding-bottom: 0;
}
.th1 {
  position: relative;
  padding-bottom: 0;
  font-family: var(--font-kanit);
  font-size: 20px;
  color: black;
}
.table {
  position: absolute;
  top: 196px;
  left: 382px;
  width: 240px;
  height: 49px;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
}
.personnel-dashboard-appointmen {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-kanit);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
}
.close {
  position: absolute;
  right: -1125px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.form-type-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightblue);
  width: 169px;
  height: 53px;
}
.form-type-item {
  position: absolute;
  top: 2px;
  left: 169px;
  background-color: var(--color-white);
  width: 419px;
  height: 49px;
  display: none;
}
.form-type-inner {
  border: 1px solid var(--color-darkgray);
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 169px;
  border-radius: var(--br-6xs);
  box-shadow: 0 1px 4px #000;
  box-sizing: border-box;
  width: 425px;
  height: 53px;
  font-family: var(--font-kanit);
  font-size: 20px;
}
.polygon-icon {
  position: absolute;
  top: 10px;
  left: 539px;
  width: 30.1px;
  height: 30.1px;
  object-fit: contain;
  display: none;
}
.form-type,
.relation-child {
  position: absolute;
  top: 0;
  left: 678px;
  width: 594px;
  height: 53px;
}
.relation-child {
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightblue);
  width: 281px;
}
.relation-item {
  position: absolute;
  top: 2px;
  left: 281px;
  background-color: var(--color-white);
  width: 307px;
  height: 49px;
  display: none;
}
.relation-inner {
  border: 1px solid var(--color-darkgray);
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 281px;
  border-radius: var(--br-6xs);
  box-shadow: 0 1px 4px #000;
  box-sizing: border-box;
  width: 313px;
  height: 53px;
  font-family: var(--font-kanit);
  font-size: 20px;
}
.relation-to-the {
  position: absolute;
  top: 13px;
  left: 30px;
  display: flex;
  align-items: center;
  width: 275px;
  height: 27px;
}
.claimed-by-child,
.relation {
  position: absolute;
  top: 150px;
  left: 678px;
  width: 594px;
  height: 53px;
}
.claimed-by-child {
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightblue);
  width: 175px;
}
.claimed-by1 {
  position: absolute;
  top: 13px;
  left: 30px;
  display: flex;
  align-items: center;
  width: 139px;
  height: 27px;
}
.claimed-by-item {
  position: absolute;
  top: 2px;
  left: 175px;
  background-color: var(--color-white);
  width: 413px;
  height: 49px;
  display: none;
}
.claimed-by-inner {
  border: 1px solid var(--color-darkgray);
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 175px;
  border-radius: var(--br-6xs);
  box-shadow: 0 1px 4px #000;
  box-sizing: border-box;
  width: 419px;
  height: 53px;
  font-family: var(--font-kanit);
  font-size: 20px;
}
.claimed-by,
.date-validity-child {
  position: absolute;
  top: 75px;
  left: 678px;
  width: 594px;
  height: 53px;
}
.date-validity-child {
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightblue);
  width: 188px;
}
.date-validity-item {
  position: absolute;
  top: 2px;
  left: 182px;
  background-color: var(--color-white);
  width: 406px;
  height: 49px;
  display: none;
}
.date-validity-inner {
  border: 1px solid var(--color-darkgray);
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 188px;
  border-radius: var(--br-6xs);
  box-shadow: 0 1px 4px #000;
  box-sizing: border-box;
  width: 406px;
  height: 53px;
  font-family: var(--font-kanit);
  font-size: 20px;
}
.date-validity1 {
  position: absolute;
  top: 13px;
  left: 32px;
  display: flex;
  align-items: center;
  width: 139px;
  height: 27px;
}
.date-issued-child,
.date-validity {
  position: absolute;
  top: 150px;
  left: 0;
  width: 594px;
  height: 53px;
}
.date-issued-child {
  top: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightblue);
  width: 182px;
}
.date-issued1 {
  position: absolute;
  top: 13px;
  left: 32px;
  display: flex;
  align-items: center;
  width: 158px;
  height: 27px;
}
.date-issued-inner {
  border: 1px solid var(--color-darkgray);
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 182px;
  border-radius: var(--br-6xs);
  box-shadow: 0 1px 4px #000;
  box-sizing: border-box;
  width: 410px;
  height: 53px;
  font-family: var(--font-kanit);
  font-size: 20px;
}
.contents,
.date-issued,
.place-issued {
  position: absolute;
  top: 0;
  left: 0;
  width: 592px;
  height: 53px;
}
.contents,
.place-issued {
  top: 75px;
}
.contents {
  top: 299px;
  left: 113px;
  width: 1272px;
  height: 203px;
  font-size: var(--font-size-3xl);
}
.transaction-details {
  position: absolute;
  top: 217px;
  left: 56px;
  display: flex;
  align-items: center;
  width: 301px;
  height: 49px;
}
.confirmbtn-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-deepskyblue);
  width: 169px;
  height: 67px;
}
.confirm {
  position: absolute;
  top: 19px;
  left: 22px;
  font-size: 25px;
  font-family: var(--font-kanit);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 27.9px;
}
.confirmbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 99px;
  left: 688px;
  width: 169px;
  height: 67px;
}
.transaction-status-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightblue);
  width: 275px;
  height: 67px;
}
.appointment-status {
  position: absolute;
  top: 18px;
  left: 29px;
  display: flex;
  align-items: center;
  width: 256px;
  height: 27px;
}
.transaction-status-item {
  border: 1px solid var(--color-darkgray);
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 275px;
  border-radius: var(--br-6xs);
  box-shadow: 0 1px 4px #000;
  box-sizing: border-box;
  width: 318px;
  height: 67px;
}
.transaction-status-inner {
  position: absolute;
  top: 16px;
  left: 540px;
  width: 30.1px;
  height: 30.1px;
  object-fit: contain;
  display: none;
}
.transaction-status {
  position: absolute;
  top: 99px;
  left: 56px;
  width: 593px;
  height: 67px;
  font-size: 26px;
}
select {
  padding: 8px;
  font-family: var(--font-kanit);
  font-size: var(--font-size-3xl);
}
.header-child {
  position: absolute;
  top: 57.5px;
  left: -28.5px;
  border-top: 3px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 1568px;
  height: 3px;
  display: none;
}
.personnel-dashboard1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 301px;
  height: 49px;
  padding-top: 30px;
  padding-left: 30px;
}
.header2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 301px;
  height: 49px;
}
.contents-parent {
  position: absolute;
  top: 120px;
  left: 287px;
  width: 1385px;
  height: 502px;
  font-size: var(--font-size-11xl);
  background-color: white;
  padding: 30px;
}
