body {
  zoom: 0.71;
}
.base2 {
  position: absolute;
  top: 0;
  left: 355px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 100px rgba(20, 20, 20, 0.5);
  width: 1920px;
  height: 1080px;
}
.sidebar2 {
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(
    180deg,
    rgba(152, 152, 152, 0.16) 30.5%,
    rgba(239, 11, 11, 0.3)
  );
  width: 355px;
  height: 1039px;
}
.bg-pic-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360.7px;
  height: 1080px;
  object-fit: cover;
}
.dashboard-icon2,
.dashboard5 {
  position: absolute;
  top: 0;
  height: 26px;
}
.dashboard5 {
  left: 37px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-karla);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 180px;
}
.dashboard-icon2 {
  left: 0;
  width: 26px;
  object-fit: contain;
}
.dashboard4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 247px;
  left: 35px;
  width: 217px;
  height: 26px;
}
.appointments-icon2 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.appointments4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 297px;
  left: 35px;
  width: 217px;
  height: 26px;
}
.book-an-appointment6 {
  position: absolute;
  top: 0;
  left: 37px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-karla);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 250px;
  height: 26px;
}
.book-icon2 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.book-an-appointment5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 347px;
  left: 35px;
  width: 287px;
  height: 26px;
}
.transactions7 {
  position: absolute;
  top: 0;
  left: 40px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-karla);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 180px;
  height: 26px;
}
.transactions-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 29px;
  height: 29px;
  object-fit: cover;
}
.transactions6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 397px;
  left: 32px;
  width: 220px;
  height: 29px;
}
.logo-icon2,
.sidebar-container2 {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 360.7px;
  height: 1080px;
}
.logo-icon2 {
  top: 0;
  left: 0;
  width: 58.3px;
  height: 58.3px;
  object-fit: cover;
}
.pup-clinic-appointment2,
.sta-mesa-manila2 {
  position: absolute;
  top: 8.5px;
  left: 74.6px;
  display: inline-block;
  width: 352.4px;
  height: 33.9px;
}
.sta-mesa-manila2 {
  top: 34.9px;
  font-size: var(--font-size-smi);
  font-family: var(--font-karla);
  color: var(--color-gray-300);
  width: 135.6px;
  height: 13.6px;
}
.header4 {
  position: absolute;
  top: 21px;
  left: 22px;
  width: 427px;
  height: 58.3px;
  color: var(--color-maroon);
}
.patient-dashboard2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 301px;
  height: 49px;
}
.patient-dashboard-title-inner {
  position: absolute;
  top: 54.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 46px;
  height: 3px;
}
.patient-dashboard-title2 {
  position: absolute;
  top: 140px;
  left: 29px;
  width: 301px;
  height: 56px;
  font-size: var(--font-size-11xl);
}
.patient-dashboard-appointments-child {
  position: absolute;
  top: 106.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 356px;
  height: 1px;
}
.base-main-header2,
.base-main2 {
  position: absolute;
  top: 0;
  left: 355px;
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 1565px;
  height: 76px;
}
.base-main2 {
  top: 108px;
  width: 1566px;
  height: 896px;
}
.welcome-fn-mi2 {
  border: 0;
  outline: 0;
  font-family: var(--font-kanit);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: 13px;
  left: 383px;
  color: var(--color-gray-100);
  text-align: left;
  display: flex;
  align-items: center;
  width: 301px;
  height: 49px;
}
.footer-inner {
  position: absolute;
  top: 2.2px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1932px;
  height: 77.7px;
}
.bsit-3-2n-group2 {
  position: absolute;
  top: 19.4px;
  left: 32.2px;
  display: flex;
  align-items: center;
  width: 588.7px;
  height: 43.2px;
}
.contact-us-at2,
.footer2 {
  position: absolute;
  height: 82px;
}
.contact-us-at2 {
  top: 0;
  left: 1365.2px;
  text-align: right;
  display: flex;
  align-items: center;
  width: 891.5px;
}
.footer2 {
  top: 1002px;
  left: -3px;
  width: 1932px;
  color: var(--color-white);
  font-family: var(--font-questrial);
}
.logout-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-maroon);
  box-sizing: border-box;
  width: 75px;
  height: 45px;
}
.logout5 {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: var(--font-size-base);
  font-family: var(--font-karla);
  color: var(--color-maroon);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 27px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logout4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 13px;
  left: 1812px;
  width: 75px;
  height: 45px;
}
.appointments6 {
  position: absolute;
  top: 0;
  left: 27px;
  display: flex;
  align-items: center;
  width: 301px;
  height: 49px;
}
.header-inner {
  position: absolute;
  top: 57.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 1568px;
  height: 3px;
}
.header5 {
  position: absolute;
  top: 115px;
  left: 355px;
  width: 1565px;
  height: 59px;
  font-size: var(--font-size-11xl);
}
.appointments7 {
  position: relative;
  align-items: center;
}
.appointments7,
.appointments7:hover {
  font-family: var(--font-kanit);
  font-size: 24px;
  text-align: left;
  color: black;
  display: flex;
  width: 272.5px;
  height: 49px;
}
.th {
  position: relative;
  padding-bottom: 0;
}
.th1 {
  position: relative;
  padding-bottom: 0;
  font-family: var(--font-kanit);
  font-size: 20px;
  color: black;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
}
.table1 {
  position: absolute;
  top: 196px;
  left: 419.4px;
  width: 272.5px;
  height: 49px;
}
.patient-dashboard-appointments {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-kanit);
}
