body {
  zoom: 0.71;
}
.base-main,
.base-main-header,
.base1 {
  position: absolute;
  top: 0;
  left: 355px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 100px rgba(20, 20, 20, 0.5);
  width: 1920px;
  height: 1080px;
}
.base-main,
.base-main-header {
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 1565px;
  height: 76px;
}
.base-main {
  top: 108px;
  width: 1566px;
  height: 1297px;
}
.sidebar1 {
  position: absolute;
  top: 0;
  left: 3px;
  background: linear-gradient(
    180deg,
    rgba(152, 152, 152, 0.16) 30.5%,
    rgba(239, 11, 11, 0.3)
  );
  width: 355px;
  height: 1274px;
}
.bg-pic-icon1 {
  position: absolute;
  top: 168px;
  left: 0;
  width: 360.7px;
  height: 1080px;
  object-fit: cover;
}
.dashboard4 {
  position: absolute;
  top: 0;
  left: 37px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-karla);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 180px;
  height: 26px;
}
.dashboard-icon1 {
  top: 0;
  left: 0;
  width: 26px;
  object-fit: contain;
}
.appointments1,
.dashboard-icon1,
.dashboard3 {
  position: absolute;
  height: 26px;
}
.dashboard3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 432px;
  left: 35px;
  width: 217px;
}
.appointments1 {
  top: 3px;
  left: 41px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-karla);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 180px;
}
.icons-8-11,
.personnel1 {
  position: absolute;
  height: 34px;
}
.icons-8-11 {
  top: 0;
  left: 0;
  width: 34px;
  object-fit: cover;
}
.personnel1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 479px;
  left: 31px;
  width: 221px;
}
.book-an-appointment1 {
  position: absolute;
  top: 0;
  left: 38px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-karla);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 250px;
  height: 26px;
}
.icon-qmark1,
.sql-problems1 {
  position: absolute;
  height: 28px;
}
.icon-qmark1 {
  top: 0;
  left: 0;
  width: 28px;
  object-fit: cover;
}
.sql-problems1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 530px;
  left: 34px;
  width: 288px;
}
.logo-icon1,
.sidebar-container1 {
  position: absolute;
  top: -188px;
  left: -5px;
  width: 360.7px;
  height: 1274px;
}
.logo-icon1 {
  top: 0;
  left: 0;
  width: 58.3px;
  height: 58.3px;
  object-fit: cover;
}
.pup-clinic-appointment1,
.sta-mesa-manila1 {
  position: absolute;
  top: 8.5px;
  left: 74.6px;
  display: inline-block;
  width: 352.4px;
  height: 33.9px;
}
.sta-mesa-manila1 {
  top: 34.9px;
  font-size: var(--font-size-smi);
  font-family: var(--font-karla);
  color: var(--color-gray-300);
  width: 135.6px;
  height: 13.6px;
}
.header1 {
  position: absolute;
  top: 21px;
  left: 22px;
  width: 427px;
  height: 58.3px;
  font-size: var(--font-size-base);
  color: var(--color-maroon);
}
.welcome-fn-mi1 {
  border: 0;
  outline: 0;
  font-family: var(--font-kanit);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: 13px;
  left: 383px;
  color: var(--color-gray-200);
  text-align: left;
  display: flex;
  align-items: center;
  width: 501px;
  height: 49px;
}
.footer-child {
  position: absolute;
  top: 2.2px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1932px;
  height: 77.7px;
}
.bsit-3-2n-group1 {
  position: absolute;
  top: 19.4px;
  left: 32.2px;
  display: flex;
  align-items: center;
  width: 588.7px;
  height: 43.2px;
}
.contact-us-at1,
.footer {
  position: absolute;
  height: 82px;
}
.contact-us-at1 {
  top: 0;
  left: 1365.2px;
  text-align: right;
  display: flex;
  align-items: center;
  width: 891.5px;
}
.footer {
  top: 1002px;
  left: -3px;
  width: 1932px;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-questrial);
}
.logout-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-maroon);
  box-sizing: border-box;
  width: 75px;
  height: 45px;
}
.logout1 {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: var(--font-size-base);
  font-family: var(--font-karla);
  color: var(--color-maroon);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 27px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logout {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 13px;
  left: 1812px;
  width: 75px;
  height: 45px;
}
.personnel2 {
  position: absolute;
  top: 0;
  left: 30px;
  display: flex;
  align-items: center;
  width: 301px;
  height: 49px;
}
.header-child {
  position: absolute;
  top: 57.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 1568px;
  height: 3px;
}
.header2 {
  position: absolute;
  top: 115px;
  left: 355px;
  width: 1565px;
  height: 59px;
}
.add-new-personnel {
  position: absolute;
  top: 0;
  left: 27px;
  display: flex;
  align-items: center;
  width: 301px;
  height: 49px;
}
.header3 {
  position: absolute;
  top: 184px;
  left: 355px;
  width: 1565px;
  height: 59px;
}
.confirmbtn-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-deepskyblue);
  width: 169px;
  height: 67px;
}
.confirm {
  position: absolute;
  top: 19px;
  left: 22px;
  font-size: 25px;
  font-family: var(--font-kanit);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 27.9px;
}
.confirmbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 802px;
  left: 1585px;
  width: 169px;
  height: 67px;
}
.admin-dashboard1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 301px;
  height: 49px;
}
.admin-dashboard-title-inner {
  position: absolute;
  top: 54.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 46px;
  height: 3px;
}
.admin-dashboard-title2 {
  position: absolute;
  top: 140px;
  left: 29px;
  width: 301px;
  height: 56px;
}
.admin-dashboard-personnel-add-child {
  position: absolute;
  top: 106.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 356px;
  height: 1px;
}
.personnel-email {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 238.2px;
  height: 27px;
}
.patient-email-child {
  border: 1px solid var(--color-darkgray);
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 35px;
  left: 0;
  border-radius: var(--br-6xs);
  box-shadow: 0 1px 4px #000;
  box-sizing: border-box;
  width: 533px;
  height: 53px;
  color: black;
  font-family: var(--font-kanit);
  font-size: 20px;
}
.patient-email,
.patient-password {
  position: absolute;
  top: 308px;
  left: 1221px;
  width: 533px;
  height: 88px;
  font-size: var(--font-size-3xl);
}
.patient-password {
  top: 425px;
}
.full-name2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 244.2px;
  height: 27px;
}
.contact-number-child,
.full-name1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 533px;
  height: 88px;
}
.contact-number-child {
  border: 1px solid var(--color-darkgray);
  outline: 0;
  background-color: transparent;
  top: 35px;
  border-radius: var(--br-6xs);
  box-shadow: 0 1px 4px #000;
  box-sizing: border-box;
  width: 274px;
  height: 53px;
  color: black;
  font-family: var(--font-kanit);
  font-size: 20px;
}
.contact-number,
.male,
.sex1 {
  position: absolute;
  top: 220px;
  left: 0;
  width: 274px;
  height: 88px;
}
.male,
.sex1 {
  top: 0;
  display: flex;
  align-items: center;
  width: 219px;
  height: 27px;
}
.male {
  top: 45px;
  left: 32px;
  width: 65px;
}
.sex-child {
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50px;
  left: 0;
  border-radius: 50%;
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 17px;
  height: 17px;
}
.female {
  top: 45px;
  left: 154px;
  display: flex;
  align-items: center;
  width: 86px;
  height: 27px;
}
.female,
.sex,
.sex-item {
  position: absolute;
}
.sex-item {
  cursor: pointer;
  margin: 0;
  top: 50px;
  left: 122px;
  border-radius: 50%;
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 17px;
  height: 17px;
}
.sex {
  top: 110px;
  left: 305px;
  width: 240px;
  height: 72px;
}
.birthdate-mmddyyyy {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 265px;
  height: 27px;
}
.birthdate,
.personnel-type {
  position: absolute;
  top: 110px;
  left: 0;
  width: 274px;
  height: 88px;
}
.personnel-type {
  top: 0;
  display: flex;
  align-items: center;
  width: 176px;
  height: 27px;
}
.patient-type-item {
  border: 1px solid var(--color-darkgray);
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 35px;
  left: 0;
  border-radius: var(--br-6xs);
  box-shadow: 0 1px 4px #000;
  box-sizing: border-box;
  width: 249px;
  height: 53px;
  color: black;
  font-family: var(--font-kanit);
  font-size: 20px;
}
.patient-type1 {
  position: absolute;
  top: 220px;
  left: 353px;
  width: 249px;
  height: 88px;
}
.full-name-parent {
  position: absolute;
  top: 308px;
  left: 535px;
  width: 602px;
  height: 308px;
  font-size: var(--font-size-3xl);
}
.admin-dashboard-personnel-add {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-200);
  font-family: var(--font-kanit);
}
