body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-kanit: Kanit;
  --font-karla: Karla;
  --font-questrial: Questrial;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-3xl: 22px;
  --font-size-11xl: 30px;
  --font-size-base: 16px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #141414;
  --color-darkgray: #aaa;
  --color-deepskyblue: #47a8df;
  --color-maroon: #760001;
  --color-black: #000;

  /* Border radiuses */
  --br-6xs: 7px;
}
